<header class="border-b border-gray-100 py-6">
  <div class="container mx-auto px-6 flex justify-between items-center">
    <a
      href="/home"
      class="text-3xl font-black italic tracking-tighter uppercase"
      >StyleHub</a
    >
    <nav
      class="hidden md:flex gap-8 text-sm font-bold uppercase tracking-widest text-gray-500"
    >
      <a href="/home" class="transform hover:scale-110 transition">Inicio</a>
      <a href="/productCart" class="transform hover:scale-110 transition"
        >Carrito</a
      >
      <a href="/login" class="transform hover:scale-110 transition">Login</a>
    </nav>
  </div>
</header>
