<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>StyleHub</h1>
      <nav>
        <a href="index.html">Inicio</a>
        <a href="productCart.html">Carrito</a>
        <a href="login.html">Login</a>
      </nav>
    </header>

    <main>
      <h2>Registro</h2>

      <form>
        <input type="text" placeholder="Nombre" />
        <input type="email" placeholder="Correo" />
        <input type="password" placeholder="Contraseña" />
        <button>Registrarse</button>
      </form>
    </main>

    <footer>
      <p>© 2026 StyleHub</p>
    </footer>
  </body>
</html>
